.counter{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button{

    color: blue;
    background-color: pink;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

}

.button:hover{
    background-color:rebeccapurple;
}
.numero{

    font-size: 2rem;
    align-items: center;
    margin: 2% 2% 2% 2%;
}

.controls{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
  

}
.button1{
    margin-right: 10%
    
}
.button2{
    margin-right: 5%;
    
}